/* Write your CSS here */
.team-card {
  padding: 10px;
}
.team-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
}
.team-logo {
  height: 100px;
  width: 100px;
  margin: 10px;
}
.team-name {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
